@model Falcon.Domain.Models.Mission

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_FalconLayout.cshtml";
}

<div id="title">
    <h1 class="inner job_page title-2">
        @Model.title <span id="jobs-counter">- @Model.Owner.Member.username</span>
        <ul class="breadcrumb-inner">
            <li> <a href="index.html">Home</a></li>
            <li> <a href="job-listing-1.html">Jobs</a></li>
            <li> <a href="job.html">@Model.idMission</a></li>
        </ul>
    </h1>
</div>
<div class="inner">

    <!-- Content Inner -->
    <div class="content-inner">

        <!-- Content Left -->
        <div class="content-left">
            <div class="block background job_block">
                <div id="map-container" class="one_job">
                    <div id="one-job-page-map" class="map"></div>
                    <ul class="map-markers">
                        <li class="marker1">New York City, United States</li>
                    </ul>
                </div>
                <h2 class="title-1">Job Details</h2>
                <div class="block-content">
                    <table border="" class="list_info">
                        <tr>
                            <td>Job ID:</td>
                            <td>#</td>
                        </tr>
                        <tr>
                            <td>Job Location</td>
                            <td>Australia</td>
                        </tr>
                        <tr>
                            <td>Company Industry</td>
                            <td>IT/Computers</td>
                        </tr>
                        <tr>
                            <td>Company Type</td>
                            <td>Employer</td>
                        </tr>
                        <tr>
                            <td>Job Role</td>
                            <td>Front-End Developer</td>
                        </tr>
                        <tr>
                            <td>Joining Date</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Employment Status</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Employment Type</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Monthly Salary</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Manages Others</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>No. of Vacancies</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <h2 class="title-1">Preferred Candidate</h2>
                <div class="block-content last">
                    <table border="" class="list_info">
                        <tr>
                            <td>Career Level</td>
                            <td>Entry Level</td>
                        </tr>
                        <tr>
                            <td>Years of Experience</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Residence Location</td>
                            <td>Australia</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Nationality</td>
                            <td>Unspecified</td>
                        </tr>
                        <tr>
                            <td>Degree</td>
                            <td>Unspecified</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="advertising" class="block border">
                <div class="block-content">
                    <img src="images/sb-ad.jpg" alt="banner ad" />
                    <!--<div class="advertising-test">300x250<br/>Ad Banner</div>-->
                </div>
            </div>
        </div>
        <!-- /Content Left -->
        <!-- Content Center -->
        <div class="content-center job-single">
            <div class="heading-l">
                <h2> Job Description </h2>
            </div>
            <div class="row-fluid">
                <div class="page-nav">
                    <div class="span3">
                        <button class="btn gray jobbtn">back to listing</button>
                    </div>
                    <div class="span2 pull-right">
                        <button class="btn gray next-btn">Next</button>
                    </div>
                    <div class="span2 pull-right">
                        <button class="btn gray pre-btn">Previous</button>
                    </div>
                </div>
            </div>
            <div class=" content-center border box-1">
                <div class="video-container job-video">
                    <iframe src="//player.vimeo.com/video/24456787" width="500" height="281"></iframe>
                </div>
                <div class="divider line"></div>
                <div id="job-content-field">
                    <div class="field-container single no_border">
                        <div class="header-fields">
                            <ul class="social_media_icons pull-right">
                                <li> <a href="#"><i class="fa fa-star"></i></a> </li>
                            </ul>
                            <div class="date">27<span>Jun</span></div>
                            <div class="title-company">
                                <div class="title"><a href="#">Front-End Developer</a></div>
                                <div class="company">Envato - Sydney, Australia</div>
                            </div>
                        </div>
                        <div class="body-field">
                            <div class="row-fluid">
                                <ul class="social_media_icons">
                                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                                </ul>
                            </div>
                            <div class="teaser">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                            <div class="full-body" style="display: block">
                                <p>Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="block-fields">
                            <ul class="candidate-meta meta-fields">
                                <li class="pull-left">Job Role: <span>Technology / IT</span></li>
                                <li class="pull-center">Industry: <span>Themes</span></li>
                                <li class="pull-right">Career Level: <span>Mid Career</span></li>
                            </ul>
                            <div class="block skills">
                                <h4>Responsibilities</h4>
                                <div class="block-content">
                                    <ul class="skill_list">
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Adipisicing elit</li>
                                        <li>Proin nibh augue</li>
                                        <li>Scelerisque sed</li>
                                        <li>Cras vel lorem</li>
                                        <li>Etiam pellentesque</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-fields">
                            <div class="block skills">
                                <h4>Required Skills</h4>
                                <div class="block-content">
                                    <div class="field roll-with-description hide">
                                        <div class="roll-button"><span></span></div>
                                        <div class="roll-field">
                                            <div class="label">5 Years of Experience</div>
                                            <div class="progressbar"><span class="progress-count" data-level="60"></span></div>
                                            <div class="description">...</div>
                                        </div>
                                    </div>
                                    <div class="field roll-with-description hide">
                                        <div class="roll-button"><span></span></div>
                                        <div class="roll-field">
                                            <div class="label">Perfect Written &amp; Spoken English</div>
                                            <div class="progressbar"><span class="progress-count" data-level="100"></span></div>
                                            <div class="description">...</div>
                                        </div>
                                    </div>
                                    <div class="field roll-with-description show">
                                        <div class="roll-button"><span></span></div>
                                        <div class="roll-field">
                                            <div class="label">3 Foreign Languages</div>
                                            <div class="progressbar"><span class="progress-count" data-level="65"></span></div>
                                            <div class="description">Preferred languages are Arabic, French &amp; Italian. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</div>
                                        </div>
                                    </div>
                                    <!-- Cleaner -->
                                    <div class="clear"></div>
                                    <!-- /Cleaner -->
                                </div>
                            </div>
                            <div class="block">
                                <h4>Additional Requirements</h4>
                                <div class="block-content">
                                    <div class="tag-field">Work Permit</div>
                                    <div class="tag-field">5 Years Experience</div>
                                    <div class="tag-field">MBA</div>
                                    <div class="tag-field">Magento Certified</div>
                                    <div class="tag-field">Perfect Written &amp; Spoken English</div>
                                </div>
                                <!-- Cleaner -->
                                <div class="clear"></div>
                                <!-- /Cleaner -->
                            </div>
                        </div>
                        <div class="buttons-field applybtns">
                            <div class="apply"><a href="#">Apply for This Job</a></div>
                            <div class="full"><a href="#">Apply With MotibU</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="heading-l">
                <h2> Recruiter’s Info </h2>
            </div>
            <div class="block border recruiter box-1 mr0">
                <div class="block-content">
                    <div class="recruiter_photo"><img src="images/recruiter.jpg" alt="user" /></div>
                    <div class="recruiter_info">
                        <div class="row-field">
                            <div class="span3  pull-right first">
                                <ul class="social_media_icons  pull-right">
                                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-linkedin-square"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                                    <li> <a href="#"> <i class="fa fa-dribbble"></i> </a> </li>
                                </ul>
                                <a href="#" class="btn blue pull-right">Send a Message</a>
                            </div>
                            <div class="span2 pull-left first">
                                <div class="recruiter_info-wrapper">
                                    <div class="title">Jeffrey Richards</div>
                                    <div class="location">Company Name</div>
                                </div>
                                <div class="description">
                                    Tel (123) 123-4567<br />
                                    Fax (123) 123-4567
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- Clear Line -->
            <!--similar Jobs Block-->
            <div id="latest-job">
                <div class="heading-l">
                    <h2> Similar Jobs </h2>
                </div>
                <div class="latest-job-wrapper">
                    <div class="block-content dott-flexslider box-1">
                        <ul class="slides">
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                            <li>
                                <div class="company-logo">
                                    <a href="#"><img src="images/job-thumb.jpg" alt="" /></a>
                                    <div class="nav-buttons">
                                        <ul>
                                            <li class="search"><a><i class="fa fa-search"></i></a></li>
                                            <li class="link"><a href="job.html"><i class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="company-text">
                                    <div class="title">
                                        <a href="#">Front-End Developer at Envato</a>
                                        <div class="location">Sydney, Australia</div>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/similar Jobs Block-->
        </div>
        <!-- /Content Center -->
        <div class="clear"></div>
        <!-- Clear Line -->

    </div>
    <!-- /Content Inner -->

</div>
