@model Falcon.Domain.Models.Owner

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
}

<div class="main clearfix">
    <div class="content">
        <form method="post" action="http://bestwebholding.com/demo_theme/opening-job-board-html-template/company_profile_settings.html">
            <div class="post edit-company">
                <div class="post-header">
                    <h2>Edit details</h2>
                    <a class="edit-link" href="company_profile_settings.html">[Edit]</a>
                </div>
                <!-- .post-header -->
                <ul>
                    <li class="settings-field">
                        <img class="company-logo" src="~/Content/v2/images/company-logo.png" alt="" />
                        <input name="company-name" required placeholder="Company name" type="text" />
                        <input name="site" required type="text">
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        <textarea name="description" required placeholder="Short description"></textarea>
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        <textarea name="details" rows="3" required placeholder="Details description"></textarea>
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        <input name="employees" required placeholder="Number of employees" type="text" />
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        <input name="video" type="file" />
                        <input name="banner" type="file" />
                    </li>
                    <!-- .settings-field -->
                    <li id="contacts" class="settings-field">
                        <input type="email" required placeholder="cv@envato.com" />
                        <input type="text" required placeholder="+1 (555) 333 - 55 - 33" />
                    </li>
                    <!-- .settings-field -->
                </ul>
            </div>
            <!-- .post edit-company -->
            <input type="submit" value="save" />
            <input type="reset" value="cancel" />
        </form>
        <!-- form -->
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget">
            <h3>Text widget</h3>
            <p>Proin at risus augue. Proin sapien est, convallis vitae ligula vitae, fermentum viverra erat.</p>
        </div>
        <!-- text widget -->
        <div class="widget company-widget">
            <h3>My company profile</h3>
            <div class="company-meta">
                <img src="~/Content/v2/images/featured-company.png" alt="Company" />
                <div class="count">21</div>
                <p class="company-location">New York</p>
                <a class="company-link" href="http://envato.com/">http://envato.com/</a>
                <p class="description">Our company is constantly developing, we provide high-quality web and mobile applications and websites for companies from all over the world.</p>
            </div>
            <!-- .company-meta -->
            <div class="contacts">
                <ul class="phones">
                    <li>+1 (555) 333 - 55 - 33</li>
                    <li>+1 (000) 777 - 66 - 77</li>
                </ul>
                <ul class="emails">
                    <li>cv@envato.com</li>
                    <li>info@envato.com</li>
                </ul>
            </div>
            <!-- .contacts -->
        </div>
        <!-- .company-widget -->
    </aside>
    <!-- .sidebar -->
</div>
<!-- .main -->