@model Falcon.Web.Models.OwnerProfileViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
}

<div class="main clearfix">
    <div class="content">
        @using (Html.BeginForm("Create", "Owner", new { ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="post edit-company">
                <div class="post-header">
                    <h2>Update your profile information</h2>
                </div>
                <!-- .post-header -->
                <ul>
                    <li>
                    </li>
                    <li class="settings-field">
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { placeholder = "Name of the company" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.CompanyDescription, new { htmlAttributes = new { placeholder = "Company description" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { placeholder = "Website" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.CompanyAddress, new { htmlAttributes = new { placeholder = "Company address" } })
                    </li>
                    <li class="settings-field">
                        <p>Choose your company logo</p>
                        <input type="file" name="complogo" id="complogo" />
                    </li>
                </ul>
            </div>
            <!-- .post edit-company -->
            <input type="submit" value="save" />
            <input type="reset" value="cancel" />
        }
        <!-- form -->
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget">
            <h3>Next Step?</h3>
            <p>After filling the informations, you will be able to create missions and get the work done.</p>
        </div>
        <!-- text widget -->
        <div class="widget">
            <h3>Tip</h3>
            <p>Fill the informations correctly to avoid later problems.</p>
        </div>
    </aside>
    <!-- .sidebar -->
</div>
