@model Falcon.Domain.Models.CV

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_FalconLayout_v2.cshtml";
}

<div class="main clearfix">
    <div class="content">
        @using (Html.BeginForm("Create", "Cv", new { ViewBag.ReturnUrl }, FormMethod.Post))
        {

            <div class="post edit-company">
                <div class="post-header">
                    <h2>Update your CV</h2>
                </div>
                <!-- .post-header -->
                <ul>
                    <li>

                    </li>
                    <li class="settings-field">
                        @Html.EditorFor(model => model.personalStatement, new { htmlAttributes = new { placeholder = "Personal Statement" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.skills, new { htmlAttributes = new { placeholder = "Skills" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.workExperience, new { htmlAttributes = new { placeholder = "Work Experience" } })
                    </li>
                    <!-- .settings-field -->
                    <li class="settings-field">
                        @Html.EditorFor(model => model.targetJobs, new { htmlAttributes = new { placeholder = "Target Jobs" } })
                    </li>
                    <li class="settings-field">
                        <p>Upload your pdf</p>
                        <input type="file" name="cvpdf"/>
                    </li>
                </ul>
            </div>
            <!-- .post edit-company -->
            <input type="submit" value="save" />
            <input type="reset" value="cancel" />
        }
        <!-- form -->
    </div>
    <!-- .content -->
    <aside class="sidebar">
        <div class="widget">
            <h3>What Can I Do?</h3>
            <p>After creating your profile you will add your CV so mission owners will be more interested in picking you.</p>
        </div>
        <!-- text widget -->
        <div class="widget company-widget">
            <h3>My company profile</h3>
            <div class="company-meta">
                <img src="images/featured-company.png" alt="Company" />
                <div class="count">21</div>
                <p class="company-location">New York</p>
                <a class="company-link" href="http://envato.com/">http://envato.com/</a>
                <p class="description">Our company is constantly developing, we provide high-quality web and mobile applications and websites for companies from all over the world.</p>
            </div>
            <!-- .company-meta -->
            <div class="contacts">
                <ul class="phones">
                    <li>+1 (555) 333 - 55 - 33</li>
                    <li>+1 (000) 777 - 66 - 77</li>
                </ul>
                <ul class="emails">
                    <li>cv@envato.com</li>
                    <li>info@envato.com</li>
                </ul>
            </div>
            <!-- .contacts -->
        </div>
        <!-- .company-widget -->
    </aside>
    <!-- .sidebar -->
</div>


